// Responsive Variables
$xxl: "only screen and (min-width: 1601px) and (max-width: 1900px)";
$xl: "only screen and (min-width: 1601px) and (max-width: 1800px)";
$laptop: "only screen and (min-width: 1200px) and (max-width: 1600px)";
$lg: "only screen and (min-width: 992px) and (max-width: 1200px)";
$md: "only screen and (min-width: 768px) and (max-width: 991px)";
$xs: "(max-width: 767px)";
$sm: "only screen and (min-width: 576px) and (max-width: 767px)";

//Landscape-responsive
$xs-landscape: "only screen and (min-width: 540px) and (max-width: 767px) and (orientation: landscape)";

.error-area {
    position: relative;
    width: 100%;
    height: 100vh;
    .container {
        .section-inner {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            .page-title{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 65px;
                .text{
                    font-size: 140px;
                    &.zero{
                        color: var(--theme-color);
                    }
                }
            }

            .title {
                margin-bottom: 40px;

                @media(max-width:450px) {
                    margin-bottom: 20px;
                }

                .sub-title {
                    font-size: 48px;
                    font-weight: bold;
                    padding-bottom: 30px;

                    @media(max-width:450px) {
                        padding-bottom: 15px;
                    }
                }

                .sect-title {
                    font-size: 18px;
                    font-weight: 300;
                    color: #666666;
                    line-height: 28px;
                    font-family: 'Roboto';
                }
            }

            .section-button {
                a{
                    font-size: 14px;
                    padding: 17px 30px;
                    font-weight: 500;
                    color: $white-color;
                    background: #111111;
                    display: inline-block;
                    text-align: center;
                    vertical-align: middle;
                    -webkit-transform: perspective(1px) translateZ(0);
                    transform: perspective(1px) translateZ(0);
                    text-transform: uppercase;
                    position: relative;
                    -webkit-transition-property: color;
                    transition-property: color;
                    -webkit-transition-duration: 0.3s;
                    transition-duration: 0.3s;
                    letter-spacing: 2px;
                    @media(max-width:1100px) and (min-width:900px){
                        display: block;
                    }
                    @media(max-width:450px){
                        display: block;
                        margin: 0 auto;
                    }
                    &::before{
                        content: "";
                        position: absolute;
                        z-index: -1;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        -webkit-transform: scaleX(1);
                        transform: scaleX(1);
                        -webkit-transform-origin: 50%;
                        transform-origin: 50%;
                        -webkit-transition-property: transform;
                        transition-property: transform;
                        -webkit-transition-duration: 0.3s;
                        transition-duration: 0.3s; 
                        -webkit-transition-timing-function: ease-out;
                        transition-timing-function: ease-out;
                        background: var(--theme-color);
                    }
                    &:hover{
                        color: $white-color;
                        &::before{
                            -webkit-transform: scaleX(0);
                            transform: scaleX(0);
                        }
                    }
                }
            }
        }
    }
}